DEBUG=True
SECRET_KEY=change-me
DB_ENGINE=django.db.backends.postgresql
DB_NAME=dental
DB_USER=dental
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
ALLOWED_HOSTS=*
STATIC_ROOT=staticfiles
